*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins' , sans-serif;

    /* border: 1px solid black;border-radius: 10px; */
}

body{
    background-color: #131a22;
    color: #ffffff;
}

.container{
    width: 100%;
    height:auto ;

    display: flex;
    justify-content: center;
}

.resume-card{
    border: 2px solid white;
    width: 70%;
    height: auto;
    padding: 20px;

    position: relative;
    top: 100px;

    border: 2px solid rgb(255, 0, 0);
    border-radius: 10px;
    background-color: #deab52;

    display: flex;
    flex-direction: column;
    gap: 20px;

    box-shadow: 0 0 30px #e25c33;
}

.header{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;

    border: 1px solid rgb(255, 38, 0);
    padding: 20px;
    background-color: #e25c33;
    border-radius: 10px;
}

.display-picture{
    background-image: url(../img/display-picrute2.jpg);
    width: 30%;
    height: auto;
    background-size:cover;
    background-repeat: no-repeat;

    border: 2px solid black;
    border-radius: 10px;
}

.brief-intro{
    width:75% ;
    height: auto;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #cf7431;

    padding: 20px;

    display: flex;
    flex-direction: column;
    gap:20px;
}

.brief-intro .name h2{
    color: black !important;
    font-weight: 700 !important;

}

.brief-intro .para1 p{
    font-weight: 700 !important;
}

.main{
    width: 100%;
    height: 100%;
    border-radius: 10px;

    display: flex;
    gap: 10px;

    border: 1px solid rgb(255, 38, 0);
    padding: 20px;
    background-color: #e25c33;
    border-radius: 10px;
}

.left-box{
    width: 28.5%;
    height: 100%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    background-color: #74432191;
}

.data{
    overflow-wrap: break-word;
}

.data h2{
    color: black;
    font-weight: 700;
    font-size: 2em;
}
.data h3{
    color: black;
}

.data p,a{
    text-decoration: none;
    color: #dddddd;
}

.data>h3,p,a{
    font-size: 0.85em;
}

.QR a{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.QR>a>img{
    width: 80%;
    border-radius: 10px;
}


.right-box{
    width: 75%;
    height: 100%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:10px;

    border: 2px solid rgb(0, 0, 0);
    padding: 20px;
    background-color: #a34e29;
    border-radius: 10px;
}

.right-box h2{
    color: black;
    font-weight: 1000;
}

.project-box h3 {
    color: #272727;
}

.skills{
    display: flex;
    justify-content:flex-start;
    gap: 10px;
    padding-left: 20px;

    flex-wrap: wrap;

}


.skill-box{
    display: flex;
    gap: 10px;
    background-color: #cf7431;
    height: 1.5rem;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 1rem;

    flex-wrap: wrap;

}

.skill-box p{
    font-size: 0.8rem;
}

.skill-box-wraper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: fit-content; 
    /* height: fit-content; */
    /* -------- */
    gap: 5px;
    background-color: #deab52;
    border-radius: 1rem;
    /* padding-left: 5px;
    padding-right: 5px; */
    padding: 2.7px;

    flex-wrap: wrap;
    
}

.skill{
    font-size: 0.85rem;
    height: 0.98rem;
    background-color: #eb873f;
    border-radius: 1rem;
    padding-left: 6px;
    padding-right: 6px;
}

.project-heading{
    width: 100%;
    height: 100%;
    margin-top: 20px;

}

.projects h3,.projects li{
    font-size: 0.85em;

}



.project-box{
    display: flex;
    padding-left: 20px;
    gap: 30px;
}


.project-timeline{
    width: 30%;
}
.project{
    width: 100%;
}

.project ol{
    padding-left: 20px;
}